.navbar {
    display: flex ;
    align-items: center;
    justify-content: center;
    padding: 20px 10%;
    color: #952cb2;
    border-bottom: 2px solid #00c8b8;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: center;
    flex: 1;
    
}
.navbar ul li{
    cursor: pointer;

}
.nav-right{
    display: flex;
    align-items:center;
    gap: max(1vw, 12px);
}
.navbar select{
    padding: 5px 8px;
    border-radius: 6px;
    background: transparent;
    color: purple;
    border: 2px solid purple;
    justify-content: center;
    flex: 1;
    
}
.navbar option{
    background-color: #09005c;
    color: white;
}


@media (max-width: 900px) {
    .navbar{
        padding: 20px 8%;
    }
    .navbar button{
        gap: 8px;
        padding: 8px 18px;
        font-size: 14px;
    }
}


@media (max-width: 768px) {
    .navbar{
        padding: 20px 5%;
    }
    .navbar ul{
        display: none;
    }
    
}